{% extends 'member/web/base.html' %}
{% load socialaccount %}
{% load static %}
{% block static %}
        <link rel="stylesheet" href="{% static 'member/web/css/login-web.css' %}">
{% endblock %}
{% block title %}틴플 :: 로그인{% endblock %}
{% block content %}
    <!-- 화면 부분 -->
    <div class="screen-all-wrap">
        <div class="screen-full-wrap">
            <div class="screen-wrap">
                <div class="app-screen-all-wrap">
                    <div class="app-screen-wrap">
                        <div class="screen-divison-wrap">
                            <!-- 로고 부분 -->
                            <a class="title-logo-container" href="/">
                                <img class="title-logo" src="{% static 'public/web/images/logo/logo2.png' %}">
                            </a>
                            <!-- 타이틀 부분 -->
                            <div class="title-text">
                                <span>다시 만나서 반가워요!</span>
                            </div>
                            <!-- 로그인 정보 부분 -->
{#                            <div class="login-all-wrap">#}
{#                                <form novalidate>#}
{#                                    <div class="login-wrap">#}
{#                                        <!-- 아이디 입력 부분 -->#}
{#                                        <div class="id-wrap">#}
{#                                            <div class="id-container">#}
{#                                                <div class="id-text-container">#}
{#                                                    <label class="id-text" for="email">#}
{#                                                        <span>이메일(ID)</span>#}
{#                                                    </label>#}
{#                                                </div>#}
{#                                                <input class="id-input-container input" id="email" tabindex="1" autocomplete="off" type="email">#}
{#                                                <div class="id-input-style"></div>#}
{#                                                <div class="id-input-bottom hidden">#}
{#                                                    <div class="id-input-error">항목을 입력하세요</div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- 비밀번호 입력 부분 -->#}
{#                                        <div class="password-wrap">#}
{#                                            <div class="password-container">#}
{#                                                <div class="password-text-container">#}
{#                                                    <label class="password-text" for="password">#}
{#                                                        <span>비밀번호</span>#}
{#                                                    </label>#}
{#                                                </div>#}
{#                                                <input class="password-input-container input" id="password" tabindex="2" autocomplete="off" type="password">#}
{#                                                <div class="password-input-style"></div>#}
{#                                                <div class="password-input-bottom hidden">#}
{#                                                    <div class="password-input-error">항목을 입력하세요</div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- 로그인 실패 시 문구 출력 부분 -->#}
{#                                        <div class="login-check hidden">#}
{#                                            <span>이메일 또는 비밀번호를 확인하세요</span>#}
{#                                        </div>#}
{#                                        <!-- 로그인 부가 기능 부분 -->#}
{#                                        <div class="login-items-wrap">#}
{#                                            <div class="login-items-divison">#}
{#                                                <!-- 로그인 유지 버튼 부분-->#}
{#                                                <div class="keep-all-wrap" style="display: none;">#}
{#                                                    <div class="keep-wrap">#}
{#                                                        <div class="keep-container">#}
{#                                                            <input class="keep-checkbox" id="keep-checkbox" tabindex="3" true-value="true" false-value="false" type="checkbox" value="true">#}
{#                                                            <label class="keep-text" for="keep-checkbox">#}
{#                                                                <span>로그인 유지</span>#}
{#                                                            </label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="keep-error hidden">이 항목은 필수 입니다</div>#}
{#                                                </div>#}
{#                                                <!-- 비밀번호 찾기 버튼 부분 -->#}
{#                                                <a class="password-find" href="" target="_blank">#}
{#                                                    <span>비밀번호 찾기</span>#}
{#                                                </a>#}
{#                                            </div>#}
{#                                            <!-- 개인정보 관련 경고 메세지 -->#}
{#                                            <div class="warning-message-wrap hidden">#}
{#                                                <div class="warning-message">#}
{#                                                    <span>개인정보 보호를 위해 개인 기기에서만 사용하세요</span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- 로그인 버튼 부분 -->#}
{#                                        <button class="login-button disabled" type="button">#}
{#                                            <span>로그인</span>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
                            <!-- SNS 회원가입 부분 -->
                            <form class="sns-join-container" action="/Account/ExternalLogin?way=sign" method="post">
                                <input type="hidden" value="o3MfpQ0fEaOuMnpUzNHcti0uUBpFfcNdA7YGfjD5J-Qiti31M8dXjwWW2aY4FtAyIO00KLFAIRBT4QBk8U0GS-Tw0GbWNuYXNwFl5nhPKp41">
                                <div class="sns-button-items">
                                    <!-- 카카오 버튼 -->
                                    <button class="sns-button kakao" type="button" onclick="kakaoLogin()">
                                        <svg class="kakao-img" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m9.9999 2c5.0494 0 9.143 3.2827 9.143 7.3313 0 4.0487-4.0933 7.3313-9.143 7.3313a11.083 10.938 0 0 1-2.3926-0.26349c-0.44435-0.090231-3.4195 1.8254-4.0549 1.5791-0.44801-0.17145 1.3175-2.5653 0.75427-2.9109a6.9487 6.8574 0 0 1-3.4496-5.7359c0-4.0487 4.0933-7.3313 9.143-7.3313z" fill="#ffd95f" stroke-width=".90556"></path>
                                        </svg>
                                        <span class="kakao-text">
                                            <span>카카오로 시작하기</span>
                                        </span>
                                    </button>
                                    <button class="sns-button naver" type="button" onclick="naverLogin()">
                                        <svg class="naver-img" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m12.849 10.563-5.9315-8.5627h-4.9174v16h5.1511v-8.5627l5.9315 8.5627h4.9174v-15.998h-5.1511z" fill="#03cf5d" stroke-width="1.0187"></path>
                                        </svg>
                                        <span class="naver-text">
                                            <span>네이버로 시작하기</span>
                                        </span>
                                    </button>
                                    <button class="sns-button google" type="button" onclick="googleLogin()">
                                        <img class="google-img" src="https://www.google.com/favicon.ico">
                                        <span class="google-text">
                                            <span>구글로 시작하기</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                            <!-- SNS 로그인 부분 -->
                            <div class="oauth-wrap">
                                <form action="{% provider_login_url 'kakao' %}" method="post">
                                    {% csrf_token %}
                                    <button>
                                      <img src="{% static 'public/web/images/social/kakao-login.png' %}" alt="" width="275px">
                                    </button>
                                </form>
                                <form action="{% provider_login_url 'google' %}" method="post">
                                    {% csrf_token %}
                                    <button>
                                      <img src="{% static 'public/web/images/social/google-login.png' %}" alt="" width="40px">
                                    </button>
                                </form>
                                <form action="{% provider_login_url 'naver' %}" method="post">
                                    {% csrf_token %}
                                    <button>
                                      <img src="{% static 'public/web/images/social/naver-login.png' %}" alt="" width="40px">
                                    </button>
                                </form>
                            </div>
                            <!-- 회원가입 부분 -->
{#                            <div class="sign-up-wrap">#}
{#                                <!-- 회원가입 버튼 -->#}
{#                                <a class="sign-up" href="">#}
{#                                    <span>회원가입</span>#}
{#                                </a>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="width-full"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'member/web/js/login-web.js' %}"></script>
{% endblock %}
