{% extends 'mypage/web/base.html' %}
{% load static %}
{% block static %}
        <link rel="stylesheet" href="{% static 'member/web/css/my-teenchin-web.css' %}">
{% endblock %}

{% block title %}틴플:: 틴친 목록{% endblock %}
{% block content %}
        <!-- 메인 부분 -->
        <main class="mypage-main">
            <div class="mypage-wrap">
                <div>
                    <div class="mypage-container">
                        <div class="mypage-box">
                            <div class="side-bar">
                                <div class="side-bar-title">마이페이지</div>
                                <div class="side-bar-items">
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">나의 위시리스트</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">나의 모임</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">나의 댓글</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">나의 활동</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a class="target-color" href="">틴친 목록</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">결제 내역</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">쪽지 목록</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">알림 목록</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">내 정보 수정</a>
                                    </div>
                                </div>
                            </div>
                            <div class="contents">
                                <div class="service-title-box">
                                    <div class="service-title">틴친 목록</div>
                                    <div class="tab-list-box">
                                        <div>
                                            <input class="teenchin-search-input" type="text" name="" id="" autocomplete="off" placeholder="이름,이메일" />
                                        </div>
                                        <div class="tab-list-contents">
                                            <div>
                                                <button class="tab-list-btn" type="button">
                                                    <span>전체</span>
                                                    <span> ↓ </span>
                                                </button>
                                            </div>
                                            <div class="tab-list">
                                                <a class="tab">전체</a>
                                                <a class="tab">틴친중</a>
                                                <a class="tab">신청중</a>
                                                <a class="tab">수락대기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="teenchin-list">
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">송서경</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-btn" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="check-svg" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span>틴친중</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">김규산</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-wait-btn" type="button">
                                                        <svg class="request-svg" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M12 2C17.523 2 22 6.478 22 12C22 17.522 17.523 22 12 22C6.477 22 2 17.522 2 12C2 6.478 6.477 2 12 2ZM12 3.667C7.405 3.667 3.667 7.405 3.667 12C3.667 16.595 7.405 20.333 12 20.333C16.595 20.333 20.333 16.595 20.333 12C20.333 7.405 16.595 3.667 12 3.667ZM11.9987 14.5022C12.5502 14.5022 12.9973 14.9494 12.9973 15.5009C12.9973 16.0524 12.5502 16.4996 11.9987 16.4996C11.4471 16.4996 11 16.0524 11 15.5009C11 14.9494 11.4471 14.5022 11.9987 14.5022ZM11.9945 7C12.3742 6.9997 12.6882 7.2816 12.7381 7.64764L12.7451 7.7494L12.7487 12.251C12.749 12.6652 12.4135 13.0013 11.9993 13.0016C11.6196 13.0019 11.3055 12.72 11.2556 12.354L11.2487 12.2522L11.2451 7.7506C11.2447 7.33639 11.5802 7.00033 11.9945 7Z"
                                                            ></path>
                                                        </svg>
                                                        <span>신청중</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">박지원</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-agree-btn" type="button">
                                                        <svg aria-label="사람 찾아보기" class="teenchin-agree-svg" fill="currentColor" height="24" role="img" viewBox="0 0 48 48" width="24">
                                                            <path
                                                                d="M32 25.5c5.2 0 9.5-4.3 9.5-9.5S37.2 6.5 32 6.5s-9.5 4.3-9.5 9.5 4.3 9.5 9.5 9.5zm0-16c3.6 0 6.5 2.9 6.5 6.5s-2.9 6.5-6.5 6.5-6.5-2.9-6.5-6.5 2.9-6.5 6.5-6.5zm5.5 19h-11c-5.5 0-10 4.5-10 10V40c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-1.5c0-3.9 3.1-7 7-7h11c3.9 0 7 3.1 7 7V40c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-1.5c0-5.5-4.5-10-10-10zm-20-4.5c0-.8-.7-1.5-1.5-1.5h-5.5V17c0-.8-.7-1.5-1.5-1.5s-1.5.7-1.5 1.5v5.5H2c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h5.5V31c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-5.5H16c.8 0 1.5-.7 1.5-1.5z"
                                                            ></path>
                                                        </svg>
                                                        <span>수락대기</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">서경덕</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-btn" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="check-svg" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span>틴친중</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">조관익</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-btn" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="check-svg" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span>틴친중</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">양현</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-btn" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="check-svg" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span>틴친중</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">문우람</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-btn" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="check-svg" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span>틴친중</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">백시현</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-btn" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="check-svg" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span>틴친중</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="teenchin-box">
                                        <div class="teenchin-items">
                                            <!-- 틴친 상세프로필 이동 주소 필요 -->
                                            <a href="">
                                                <div class="profile-img-contents">
                                                    <div class="profile-img-box">
                                                        <img class="profile-img" src="https://eventusstorage.blob.core.windows.net/evs/Image/insadream/TopLogo/8a54448dc9154bbd873bf8258a99ce14.png" alt="HR에듀센터_인사드림(insadream)" />
                                                    </div>
                                                    <div class="profile-img-gap"></div>
                                                </div>
                                                <div class="profile-info-contents">
                                                    <div class="profile-name">김규일</div>
                                                    <div class="profile-info-item">
                                                        <div style="margin-right: 10px">
                                                            <span>활동</span>
                                                            <span>21</span>
                                                        </div>
                                                        <span>|</span>
                                                        <div style="margin-left: 10px">
                                                            <span>모임</span>
                                                            <span>3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="teenchin-btn-container">
                                                <div class="teenchin-btn-box">
                                                    <button class="teenchin-btn" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="check-svg" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                                        </svg>
                                                        <span>틴친중</span>
                                                    </button>
                                                    <button class="send-letter-btn" type="button">
                                                        <svg aria-label="게시물 공유" class="send-svg" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                            <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                        </svg>
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="teenchin-more-btn" type="button">
                                    <div class="more-text-box">
                                        <div style="margin-right: 0.5rem">더보기</div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="down-arrow-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 푸터 부분 -->
        <footer></footer>
        <!-- 모달 모아놓은 부분 -->
        <div>
            <!-- 쪽지 작성 모달 -->
            <div class="send-modal-wrap">
                <div class="send-modal-shadow"></div>
                <div class="send-modal-container">
                    <div class="send-modal-box">
                        <div>
                            <h2 class="modal-header-box">
                                <div class="send-modal-title">쪽지 보내기</div>
                            </h2>
                        </div>
                        <div class="sender-receiver-box">
                            <div class="sender-box">
                                <div class="sender-title">보낸 사람</div>
                                <!-- 회원의 이름과 이메일이 필요 -->
                                <div class="send-sender-email" type="text">아무개(example@sample.com)</div>
                            </div>
                            <div class="receiver-box">
                                <div class="receiver-title">받는 사람</div>
                                <!-- 형식: 아무개(example@sample.com) -->
                                <input class="send-receiver-email" autocomplete="off" type="text" placeholder="example@sample.com" />
                            </div>
                        </div>
                        <div class="letter-content-area">
                            <!-- 쪽지 내용 필요 -->
                            <textarea name="send-content" rows="10" placeholder="쪽지의 내용을 작성해 주세요."></textarea>
                        </div>
                        <div class="modal-btn-box">
                            <button class="send-close-btn" type="button">닫기</button>
                            <button class="send-check-btn" type="button" disabled>보내기</button>
                        </div>
                    </div>
                </div>
                <div class="check-modal-container" style="display: none">
                    <div class="check-modal-box">
                        <div>
                            <h2 class="modal-header-box">
                                <div class="send-check-svg-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="send-check-svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="modal-header-title">쪽지가 전송 되었습니다.</div>
                            </h2>
                        </div>
                        <div class="check-modal-btn-box">
                            <button class="check-btn" type="button">확인</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 틴친 상태 변경 메시지 모달 -->
            <div class="teenchin-modal-wrap">
                <div class="teenchin-modal-shadow"></div>
                <div class="teenchin-modal-container">
                    <div class="teenchin-modal-box">
                        <div>
                            <h2 class="modal-header-box">
                                <div class="teenchin-modal-title"></div>
                            </h2>
                        </div>
                        <div class="teenchin-modal-btn-box">
                            <button class="teenchin-modal-cancle-btn" type="button">닫기</button>
                            <button class="teenchin-modal-changed-btn" type="button"></button>
                        </div>
                    </div>
                </div>
                <!-- teenchin-modal-btn 클릭 시 나오는 모달 -->
                <div class="teenchin-check-modal-container" style="display: none">
                    <div class="teenchin-check-modal-box">
                        <div>
                            <h2 class="modal-header-box">
                                <div class="teenchin-check-svg-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="teenchin-check-svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="modal-header-title"></div>
                            </h2>
                        </div>
                        <div class="teenchin-check-modal-btn-box">
                            <button class="check-btn" type="button">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}

{% block js %}
    <script src="{% static 'member/web/js/my-teenchin-web.js' %}"></script>
{% endblock %}